.footerWrp {
  display: flex;
  justify-content: center;

  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 27%,
    rgba(93, 93, 131, 0.9542243166797969) 77%,
    rgba(46, 45, 82, 1) 90%
  ); */
  background: rgb(8, 8, 8);
  background: linear-gradient(
    90deg,
    rgba(8, 8, 8, 0.9486220757834384) 27%,
    rgba(68, 66, 68, 1) 77%,
    rgba(0, 0, 0, 0.9402187144389006) 93%
  );
}
.footerContainer {
  padding: 4rem 0rem 1rem;
  color: white;
}
