.wbsFormSection {
  display: flex;

  padding: 1rem 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wbsFormSection.hidden {
  display: none;
}
.wbsForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  font-size: 1rem;
}
@media only screen and (min-width: 800px) {
  .wbsForm {
    width: 700px;
  }
}
.wbsFormDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.wbsLabel {
  margin-bottom: 1rem;
}
.wbsInput {
  padding: 0.5rem;
  height: 30px;
  outline: 1px solid transparent;
  border: 1px solid grey;
  border-radius: 5px;
}
.wbsTextArea {
  resize: none;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  outline: 1px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 2rem;
}
.wbsInput:is(:focus, :hover),
.wbsTextArea:is(:focus, :hover) {
  border-color: rgb(58, 58, 209);
}
.wbsBtn {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  outline: 1px solid transparent;
  border: 1px solid blue;
  margin: 0 auto;
  font-size: 1.1rem;
  -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.51);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wbsBtn:is(:focus, :hover) {
  background-color: rgb(16, 16, 129);
  border-color: rgb(16, 16, 129);
}
.wbsFormRatioLabel {
  margin-right: 0.5rem;
}
.wbsFormRatio {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* .wbsFormRatioImput {
  appearance: none;
  border: 1px solid green;
  outline: 1px solid transparent;
  width: 16px;
  height: 16px;
} */
