.wrapperSection {
}
.headerWrp {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
  background: rgb(230, 92, 195);
  background: linear-gradient(
    160deg,
    rgba(230, 92, 195, 0.7721514875481442) 16%,
    rgba(234, 168, 227, 0.872991823682598) 25%,
    rgba(240, 104, 210, 0.9178097508534664) 57%,
    rgba(225, 164, 211, 0.9178097508534664) 84%
  );
}
.headerNav {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  padding: 0px 1rem;
}
.headerNavList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerNavItem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.headerNavLink {
  font-size: 1.7rem;
  font-weight: 800;
  color: white;
}

.headerNavLink:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
.headerNavLink.active {
  /* color: rgb(26, 65, 237); */
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.1rem;
}
.headerNavLink.active:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
