.wrapperSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.headerWrp {
  padding-top: 1rem;
  padding-bottom: 1rem;

  -webkit-box-shadow: 0px 0px 10px 2px rgba(45, 45, 45, 0.69);
  box-shadow: 0px 0px 10px 2px rgba(45, 45, 45, 0.69);

  /* background: rgb(230, 92, 195);
  background: linear-gradient(
    160deg,
    rgba(230, 92, 195, 0.7721514875481442) 16%,
    rgba(226, 146, 217, 0.872991823682598) 25%,
    rgba(240, 104, 210, 0.9178097508534664) 57%,
    rgba(225, 164, 211, 0.9178097508534664) 84%
  ); */
  background: rgb(246, 168, 158);
  background: linear-gradient(
    132deg,
    rgba(246, 168, 158, 0.9738321598170518) 17%,
    rgba(237, 176, 166, 0.9682299189206933) 25%,
    rgba(246, 168, 158, 1) 70%,
    rgba(243, 202, 197, 1) 90%
  );
}
.headerNav {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  padding: 0px 1rem;
}
.headerNavList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerNavItem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.headerNavLink {
  font-size: 1.7rem;
  font-weight: 800;
  color: white;
}

.headerNavLink:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
.headerNavLink.active {
  /* color: rgb(26, 65, 237); */
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.1rem;
}
.headerNavLink.active:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
