@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Mukta:wght@400;500;600;700&family=Mulish:wght@200..1000&family=Oswald:wght@200..700&family=Roboto:wght@400;500;700;900&display=swap");

html,
body {
  height: 100%;
}
body {
  letter-spacing: 0.3px;

  font-family: "Mulish", sans-serif;
  color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
